body {
  height: 400px;
}
*{
    padding: 0;
    margin: 0;
}
#game{
    width: 300px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    box-sizing: border-box;
}
#character{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    top: 300px;
    left: 0px;
}
#white{
    top: 500px;
    z-index: 100;
    position: absolute;
    width: 300px;
    height: 130px;
    background-color: white;
}
#block{
    width: 100px;
    height: 100px;
    top: 500px;
    background-color: black;
    position: relative;
    animation: slide 1s infinite linear;
}
@keyframes slide{
    0%{top:-100px};
    100%{top:500px};
}
#left, #right{
    width:50%;
    position: absolute;
    height: 500px;
}
#right{
    left: 50%;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 14.5em;
}

.controls button {
    background-color: transparent;
    width: 50%;
    color: black;
    padding: 8px;
    border-radius: 8px;
    border-color: #000;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}